#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  height: 15vh;
}

.header__title {
  font-size: 28px;
  margin-bottom: 0;
}

.header__fibonacciNumbers {
  display: flex; 
}

.header__fibonacciNumber {
  margin-right: 4px;
}

.header__fibonacciNumber:last-child {
  margin-right: 0;
}

.header__buttons {
  display: flex;
}

.header__button {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.header__inputContainer {
  display: flex;
}

.header__inputDescription {
  margin-right: 8px;
}

#header__scaleFactor {
  width: 100px;
}