#visualizer {
  padding: 32px;
}

.visualizer__container {
  border: 5px solid black;
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.fibonacci__box {
  position: absolute;
  border: 1px solid black;
  background-color: white;
}
